.page {
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
    box-sizing: border-box;
}