.footer__copyright {
    color: #fff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        line-height: 14px;
        margin-top: 48px;
    }
}