.lead__subtitle {
    color: #fff;
    max-width: 640px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 64px auto;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
    }
}