.cover {
    max-width: 1184px;
    margin: 92px auto 0 auto;
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-top: 66px;
        max-width: 320px;
    }
}