.place__link {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .place__link {
        max-width: 288px;
        padding-left: 16px;
    }
}